@import "reset";
@import "var";
@import "fonts";


html {
    body {
        font-family: Helvetica;

        // customize container
        .container {
            // max-width: 100%;
            // width: 90%;

            @media (max-width: 991px) {
                width: 100%;
                padding: 0 20px;
            }

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        // About us
        .about-us {
            background-color: #fff;

            .sub-title {
                margin-bottom: 30px;
            }

            .title {
                margin-bottom: 30px;
            }

            .paragraph {
                margin-bottom: 150px;

                @media (max-width: 767px) {
                    margin-bottom: 75px;
                }
            }

            .image {
                width: calc(572 / 670 * 100%);
                min-width: 100%;
                object-fit: cover;
                height: 100%;
                min-height: 100%;
                background-size: cover;
                background-position: center;

                img {
                    width: 100%;
                    min-width: 100%;
                    object-fit: cover;
                    height: 100%;

                }

            }


            @media (max-width: 767px) {
                .row {
                    flex-direction: column-reverse;
                }

                .col-md-7 {
                    margin-bottom: 50px;
                }

                .offset-1 {
                    margin-left: 0 !important;
                }
            }
        }

        // About us two
        .about-us-two {
            background-color: #F5F4F4;

            .row {
                flex-direction: row-reverse;

                @media (max-width: 767px) {
                    flex-direction: column-reverse;
                }

            }

            .sub-title {
                margin-bottom: 30px;
            }

            .title {
                margin-bottom: 30px;
            }

            .paragraph {
                margin-bottom: 150px;

                @media (max-width: 767px) {
                    margin-bottom: 75px;
                }
            }

            .image {
                width: calc(572 / 670 * 100%);
                min-width: 100%;
                object-fit: cover;
                height: 100%;
                min-height: 100%;
                background-size: cover;
                background-position: center;

                img {
                    width: 100%;
                    min-width: 100%;
                    object-fit: cover;
                    height: 100%;
                }

            }

            @media (max-width: 767px) {
                .col-md-7 {
                    margin-bottom: 50px;
                }

                .offset-1 {
                    margin-left: 0 !important;
                }
            }
        }

        // Mission Vission
        .mission-vision {
            .sub-title {
                margin-bottom: 30px;
            }

            .title {
                margin-bottom: 50px;
            }

            @media (max-width: 767px) {
                .col-md-6 {
                    margin: 75px 0 0 0;

                }

            }


        }

        // Featured project
        .featured-projects {
            background-color: #F5F4F4;
            position: relative;
            .featured-projects__bg {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;

                img {
                    width: 100%;
                }
            }

            .sub-title {
                margin-bottom: 30px;
            }

            .title {
                margin-bottom: 50px;

                @media (max-width: 1250px) {
                    font-size: 30px;
                    line-height: 40px;
                }

                @media (max-width: 1250px) {
                    font-size: 25px;
                    line-height: 35px;
                }
            }

            .featured-projects__btn-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .featured-projects__btn {
                    display: flex;
                    position: relative;
                    width: 10%;
                    right: 25px;

                    @media (max-width: 1250px) {
                        width: 25%;
                    }
                    .slick-prev, .slick-next {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: -22px;
                        // transform: rotate(180deg);
                    }
                }
            }


            .slick-prev {
                background-color: #E5E5E5;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                transition: 1s all ease;
                margin-left: 20px;

                &:hover {
                    background-color: #2B3382;
                    transition: 1s all ease-out;
                }
            }

            .slick-next {
                background-color: #2B3382;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            .slick-prev:before {
                font-size: 16px !important;
                // content: 'f0fb';
            }
            .slick-next:before {
                // content: 'f0fb';
                color: rgb(255, 255, 255);
                right: 15px !important;
                font-size: 16px !important;

            }

            .featured-projects__init {

                margin-right: -31px;

                .featured-projects__item {

                    .featured-projects__item-wrap {
                        width: calc(100% - 30px);
                        overflow: hidden;
                        .image-wrapper {
                            position: relative;
                            overflow: hidden;
                            transition: .6s all ease;
    
                            .content {
                                position: absolute;
                                bottom: 30px;
                                left: 30px;
                                right: 30px;
                                z-index: 1000;
                                text-transform: uppercase;
    
                                h3 {
                                    color: #FFFFFF;
                                    font-size: 22px;
                                    line-height: 38px;
    
                                    @media (max-width: 767px) {
                                        font-size: 16px;
                                        line-height: 28px;
                                    }
                                }
                            }
    
                            &:hover {
                                transform: scale(1.1);
                                transition: .6s all ease;
                                z-index: 3;
                                
                            }
    
                            &::after {
                                position: absolute;
                                content: '';
                                z-index: 2;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                width: 100%;
                                height: 100%;
                                background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .2));
                            }
    
                        }

                    }
                    
                }

            }
        }

        .community {
            position: relative;

            .community-bg {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                overflow: hidden;
                z-index: -2;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .community-bg::after {
                position: absolute;
                content: '';
                // z-index: 2;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: (rgba(0, 0, 0, .4));
            }

            .community-content__wrap {
                z-index: 3;
                .sub-title {
                    color: #E5E5E5;
                    margin-bottom: 30px;
                }

                h2 {
                    color: #ffffff;
                    font-size: 35px;
                    line-height: 40px;
                    font-weight: 700;
                    margin-bottom: 50px;
                }

                .dc-btn {
                    
                    border-color: #FFFFFF;

                    span {
                        color: #FFFFFF;
                    }
                }
            }

        }

        .achivements {
            background-color: #F5F4F4;
            position: relative;
            .achivements__bg {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                overflow: hidden;

                img {
                    width: 100%;
                    
                }
            }

            .sub-title {
                margin-bottom: 30px;
            }

            .title {
                margin-bottom: 50px;
            }

            .featured-projects__btn-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .featured-projects__btn {
                    display: flex;
                    position: relative;
                    width: 10%;
                    right: 25px;

                    @media (max-width: 1250px) {
                        width: 25%;
                    }
                    .slick-prev, .slick-next {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: -22px;
                        // transform: rotate(180deg);
                    }
                }
            }

            .slick-prev {
                background-color: #E5E5E5;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                transition: 1s all ease;
                margin-left: 20px;

                &:hover {
                    background-color: #2B3382;
                    transition: 1s all ease-out;
                }
            }

            .slick-next {
                background-color: #2B3382;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            .slick-prev:before {
                font-size: 16px !important;
                // content: 'f0fb';
            }
            .slick-next:before {
                // content: 'f0fb';
                color: rgb(255, 255, 255);
                right: 15px !important;
                font-size: 16px !important;

            }

            .achivements__init {

                margin-right: -71px;

                .featured-projects__item {
                    overflow: hidden;
                    .featured-projects__item-wrap {
                        width: calc(100% - 70px);
                        overflow: hidden;

                        &:hover {
                            
                        }
                        .image-wrapper {
                            position: relative;
                            overflow: hidden;
                            transition: .6s all ease;
                            filter: grayscale(1);
                            height: 333px;
                            img {
                                overflow: hidden;
                                height: 100%;
                            }
    
                            &:hover {
                                // transform: scale(1.1);
                                filter: grayscale(0);
                                transition: .6s all ease;
                                z-index: 3;
                                overflow: hidden;
                                
                                
                            }
    
                            &::after {
                                position: absolute;
                                content: '';
                                z-index: 2;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                width: 100%;
                                height: 100%;
                                background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .2));
                            }
    
                        }

                        .content {
                            // position: absolute;
                            // bottom: 30px;
                            // left: 30px;
                            // right: 30px;
                            // z-index: 1000;
                            margin-top: 30px;
                            text-transform: uppercase;
                            overflow: hidden;

                            h3 {
                                color: #313033;
                                font-size: 20px;
                                line-height: 22px;
                                margin: 0;
                                font-weight: 700;

                                @media (max-width: 767px) {
                                    font-size: 16px;
                                    line-height: 28px;
                                }
                            }
                        }

                    }
                    
                    
                    

                }

            }

            
        }

        .land-owner {
            .achivements__left {
                padding: 0;

                @media (max-width: 767px) {
                    margin-bottom: 20px;
                }
                .land-owner__img {
                    height: 100%;
                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .achivements__right {
                padding: 70px;
                background-color: #2B3382;

               

                h3 {
                    text-transform: uppercase;
                    color: #FFFFFF;
                    display: block;
                }

                .landowner {
                    height: 50%;
                    display: flex;
                    align-items: center;
                    
                    .content {
                        padding-right: 35px;
                        small {
                            text-transform: uppercase;
                            color: #FFFFFF;
                            letter-spacing: .2px;
                            font-size: 16px;
                            line-height: 18px;
                        }
                        h3 {
                            margin-top: 40px;
                            margin-bottom: 0;
                            font-size: 30px;
                            line-height: 35px;
                            font-weight: 700;
                        }
                    }
                }

                .new {
                    border: 1px solid #FFFFFF;
                }

                .buyer {
                    height: 50%;
                    display: flex;
                    align-items: center;

                    .content {
                        padding-right: 35px;
                        small {
                            text-transform: uppercase;
                            color: #FFFFFF;
                            letter-spacing: .2px;
                            font-size: 16px;
                            line-height: 18px;
                        }
                        h3 {
                            margin-top: 40px;
                            margin-bottom: 0;
                            font-size: 30px;
                            line-height: 35px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        

    }
}

















@import "home-responsive";