body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Helvetica;
  color: #1B1D1D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.paragraph {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #939299;
  margin: 0; }

a:hover {
  color: #2B3382; }

::selection {
  background: #2B3382;
  color: #FFF; }

p, a, h1, h2, h4, h3 {
  color: #1B1D1D; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

img {
  max-width: 100%; }

a:hover, a:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none; }

.btn:focus, button:focus, button:active:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  box-shadow: none; }

table {
  width: 100%; }

.form-control {
  box-shadow: none;
  outline: 0; }
  .form-control:focus {
    box-shadow: none; }

.m0 {
  margin: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.p0 {
  padding: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.p-150 {
  padding: 150px 0; }
  @media (max-width: 991px) {
    .p-150 {
      padding: 75px 0; } }

@media (max-width: 767px) {
  .mbp0 {
    padding: 0 !important; }

  .mbm0 {
    margin: 0 !important; }

  .mbpr0 {
    padding-right: 0 !important; }

  .mbpl0 {
    padding-left: 0 !important; }

  .mbpb0 {
    padding-bottom: 0 !important; }

  .mbpt0 {
    padding-top: 0 !important; } }
.pt20 {
  padding-top: 20px; }

.pb20 {
  padding-bottom: 20px; }

.pt30 {
  padding-top: 30px; }

.pb30 {
  padding-bottom: 30px; }

.pt40 {
  padding-top: 40px; }

.pb40 {
  padding-bottom: 40px; }

.pt50 {
  padding-top: 50px; }

.pb50 {
  padding-bottom: 50px; }

.pt60 {
  padding-top: 60px; }

.pb60 {
  padding-bottom: 60px; }

.pt75 {
  padding-top: 75px; }

.pb75 {
  padding-bottom: 75px; }

.pt90 {
  padding-top: 90px; }

.pb90 {
  padding-bottom: 90px; }

.pt95 {
  padding-top: 95px; }

.pb95 {
  padding-bottom: 95px; }

.pt120 {
  padding-top: 120px; }

.pb120 {
  padding-bottom: 120px; }

.pb-150 {
  padding-bottom: 150px; }
  @media (max-width: 991px) {
    .pb-150 {
      padding-bottom: 75px; } }

.mt10 {
  margin-top: 10px; }

.mb10 {
  margin-bottom: 10px; }

.mt20 {
  margin-top: 20px; }

.mb20 {
  margin-bottom: 20px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt40 {
  margin-top: 40px; }

.mb40 {
  margin-bottom: 40px; }

.mt50 {
  margin-top: 50px; }

.mb50 {
  margin-bottom: 50px; }

.mt60 {
  margin-top: 60px; }

.mb60 {
  margin-bottom: 60px; }

.mt75 {
  margin-top: 75px; }

.mb75 {
  margin-bottom: 75px; }

.mt90 {
  margin-top: 90px; }

.mb90 {
  margin-bottom: 90px; }

.mt95 {
  margin-top: 95px; }

.mb95 {
  margin-bottom: 95px; }

.clear:after {
  content: '';
  overflow: hidden;
  clear: both;
  display: block; }

.Overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -51;
  background: rgba(14, 14, 14, 0.4196078431);
  opacity: 0;
  visibility: hidden; }
  .Overlay.ShowIt {
    display: block; }

.site-error:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: ''; }

.map-popup:after {
  content: '';
  display: block;
  overflow: hidden;
  clear: both; }

.Loader, .Loader:after, .BG, .modal .founder-image__img, .img-preloader, .img-preloader:after, .site-error {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: #f1f1f1; }

.banner-loader {
  position: relative; }
  .banner-loader .container {
    position: relative;
    z-index: 5; }
  .banner-loader:before {
    content: '';
    position: absolute;
    background: url("../images/static/blur.jpg");
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    transition: opacity .4s ease; }
  .banner-loader.Loaded:before {
    opacity: 0; }

.Loader {
  position: relative; }
  .Loader:after {
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-image: url("../images/static/blur-background.jpg");
    transition: .5s ease; }
  .Loader.loaded:after {
    opacity: 0; }

.modify-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .modify-img.no-pos {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    height: 100%;
    width: 100%; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive .pace-progress {
  display: none; }

.pace .pace-progress {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  z-index: 9999;
  background: #2B3382; }

.pace-done .custom-loader img {
  display: none; }

.map-popup {
  width: 320px; }
  .map-popup img {
    float: left;
    width: 120px; }
  .map-popup .texts {
    float: right;
    width: calc(100% - 131px); }

.gm-style .gm-style-iw-c {
  border-radius: 0 !important; }

.capitalize {
  text-transform: capitalize !important; }

.uppercase {
  text-transform: uppercase !important; }

.dcLink {
  position: relative;
  padding-bottom: 4px;
  transition: color .25s ease;
  display: inline-block;
  text-transform: capitalize; }
  .dcLink:after {
    content: '';
    background: #1B1D1D;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute; }
  .dcLink:before {
    content: '';
    background: #2B3382;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    transition: width 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .dcLink:hover {
    color: #2B3382 !important; }
    .dcLink:hover:before {
      width: 100%; }
  .dcLink:focus {
    color: #1b1d1d; }
    .dcLink:focus:hover {
      color: #2B3382; }

.dc-btn {
  font-size: 14px;
  line-height: 22px;
  padding: 20px 40px;
  background: transparent;
  border: 1px solid;
  position: relative;
  transition: all .3s ease;
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
  display: inline-block;
  border-color: #2B3382; }
  .dc-btn span {
    z-index: 2;
    position: relative;
    color: #2B3382; }
  .dc-btn:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    transition: width 0.6s cubic-bezier(0.85, 0, 0.15, 1);
    background: #2B3382; }
  .dc-btn:hover {
    border-color: #2B3382 !important; }
    .dc-btn:hover span {
      color: #fff !important;
      transition: all .3s ease; }
    .dc-btn:hover:after {
      width: 100%; }

.title {
  font-size: 40px;
  line-height: 45px;
  font-weight: 500;
  color: #2B3382;
  margin: 0;
  text-transform: uppercase; }
  @media (max-width: 991px) and (min-width: 768px) {
    .title {
      font-size: 30px;
      line-height: 35px; } }
  @media (max-width: 767px) {
    .title {
      font-size: 20px;
      line-height: 25px; } }

.sub-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 21px;
  color: #939299;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15px; }

.sub-title::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #939299;
  left: 0;
  bottom: 0; }

@media (min-width: 769px) {
  .Flex {
    display: flex; } }
.Select select {
  display: none; }

.nice-select {
  width: 100%;
  border-radius: 0;
  border-color: #CECECE;
  color: #656565;
  font-weight: 500; }
  .nice-select .list {
    width: 100%;
    margin-top: 1px;
    border-radius: 0; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #2B3382; }

.form-message-container.error_wrapper .form-message-body {
  position: fixed;
  background: #fff;
  left: 50%;
  top: 50%;
  width: 430px;
  max-width: 99%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 40px 60px;
  -webkit-box-shadow: -1px 0 61px -7px #000;
  -moz-box-shadow: -1px 0 61px -7px #000;
  box-shadow: -1px 0 61px -7px #000;
  -webkit-animation: alartSlideTop .2s;
  -moz-animation: alartSlideTop .2s;
  -o-animation: alartSlideTop .2s;
  animation: alartSlideTop .2s;
  z-index: 9999; }

.form-message-container .cross-popup {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
  display: block;
  padding: 20px; }

.form-message-container.error_wrapper span {
  margin-left: 50px;
  display: block;
  position: relative; }

.form-message-container.error_wrapper span:before {
  position: absolute;
  content: '';
  width: 41px;
  height: 41px;
  top: 0;
  left: -70px;
  background-image: url(../images/static/alert-icon.png); }

.form-message-container.error_wrapper span p {
  color: #6D6E71; }

.form-message-container.error_wrapper span ul {
  color: #000;
  list-style: none;
  margin-bottom: 40px; }

.hide.form-message-container {
  display: none !important; }

@-webkit-keyframes alartSlideTop {
  0% {
    -webkit-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    opacity: 0; }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1; } }
@-moz-keyframes alartSlideTop {
  0% {
    -moz-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    opacity: 0; }
  100% {
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1; } }
@-o-keyframes alartSlideTop {
  0% {
    -o-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    opacity: 0; }
  100% {
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1; } }
@keyframes alartSlideTop {
  0% {
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    opacity: 0; }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1; } }
.form-message-container.success_wrapper .form-message-body {
  position: fixed;
  z-index: 990;
  background: #ffffff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 45px 58px;
  -webkit-box-shadow: -1px 0 61px -7px #000;
  -moz-box-shadow: -1px 0 61px -7px #000;
  box-shadow: -1px 0 61px -7px #000;
  -webkit-animation: alartSlideTop .2s;
  -moz-animation: alartSlideTop .2s;
  -o-animation: alartSlideTop .2s;
  animation: alartSlideTop .2s; }
  .form-message-container.success_wrapper .form-message-body span {
    margin-bottom: 0px;
    display: block;
    margin-bottom: 0px;
    padding: 40px 32px;
    font-size: 17px; }
  .form-message-container.success_wrapper .form-message-body .ok-class {
    left: 0;
    right: 0;
    margin: auto; }

.form-primary.all-text-white {
  color: #fff; }

.form-message-container .cross-popup {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
  display: block;
  padding: 20px; }

.success_container_contact-form {
  color: #FFF; }

.ok-class {
  bottom: 30px;
  left: 26%;
  border: 3px solid #6D6E71;
  width: 100px;
  text-align: center;
  height: 36px;
  line-height: 31px;
  font-weight: bold;
  color: #6D6E71;
  text-transform: uppercase;
  cursor: pointer; }
  .ok-class:hover {
    background: #6D6E71;
    color: #FFF; }

.form-overlay.doit {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/static/ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px; }

.success_wrapper_contact-form .form-message-body {
  position: relative; }
  .success_wrapper_contact-form .form-message-body:after {
    content: '';
    position: absolute;
    left: 0;
    top: 17px;
    height: 60px;
    width: 60px;
    background: url(../images/static/thumbs-up.svg);
    background-size: contain;
    right: 0;
    margin: auto;
    background-repeat: no-repeat; }

.form-message-container.success_wrapper .form-message-body span {
  color: #6D6E71 !important; }

.modal {
  background: #FFF; }
  .modal .modal-body {
    padding: 0; }
  .modal .modal-title {
    margin: 0;
    line-height: 1.42857143;
    position: fixed;
    background: #FFF;
    right: 30px;
    left: 12px;
    padding-bottom: 20px;
    padding-top: 25px;
    top: 0;
    z-index: 3;
    padding-left: 10px; }
  .modal .modal-header {
    padding: 0;
    border: 0; }
  .modal .close {
    transition: opacity .2s ease; }
    .modal .close img {
      height: 20px;
      margin-bottom: 0 !important; }
  .modal .modal-dialog {
    margin: 0 auto;
    width: 100%; }
    .modal .modal-dialog .modal-content {
      min-height: 100vh;
      padding: 0px;
      box-shadow: none;
      border-radius: 0;
      border: none; }
      .modal .modal-dialog .modal-content img {
        margin-bottom: 16px; }
      .modal .modal-dialog .modal-content h2 {
        margin-top: 0; }
      .modal .modal-dialog .modal-content p {
        line-height: 26px;
        font-size: 15px; }
    .modal .modal-dialog .modal-title .Title {
      text-align: left; }
    .modal .modal-dialog .modal-title p {
      margin-top: 15px;
      font-size: 15px;
      font-weight: 300;
      color: #404747; }
    .modal .modal-dialog .modal-title img {
      margin-bottom: 22px; }
    .modal .modal-dialog .modalContent {
      margin-top: 150px; }
  .modal .founder-image__img {
    padding-top: 108.11%; }
  .modal.DirectorPopup {
    padding-right: 0 !important; }
    .modal.DirectorPopup .modal-dialog .modal-content {
      min-height: unset;
      overflow: auto; }
      .modal.DirectorPopup .modal-dialog .modal-content .founder-image {
        position: fixed;
        top: 153px;
        width: 30%; }
    .modal.DirectorPopup .close {
      position: fixed;
      right: 12px;
      top: 29px;
      z-index: 9; }
  .modal .dcBtn {
    margin-top: 20px;
    padding: 11px 70px;
    letter-spacing: 1px; }
  .modal .mCSB_scrollTools {
    width: 8px; }
  .modal .mCSB_inside > .mCSB_container {
    margin-right: 0; }

.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.831372549) !important; }

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.27) !important; }

@media (max-width: 768px) {
  .modal .modal-dialog .modal-content {
    padding: 15px 10px; }

  .dcForm .dcBtn {
    width: 100% !important; }

  .modal .dcBtn {
    width: 100%;
    margin-top: 20px;
    text-align: center; }

  #Fwidth {
    padding: 0; }

  .modal .modal-title {
    right: 27px;
    left: 25px;
    padding-left: 0; }

  .modal.DirectorPopup .modal-dialog .modal-content .founder-image {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 135px; }

  .modal.DirectorPopup .close {
    position: fixed;
    top: 9px;
    right: 15px; }

  .modal.DirectorPopup .modal-dialog .modalContent {
    margin-top: 140px; }

  .modal .mCSB_scrollTools .mCSB_draggerContainer {
    right: -11px; }
  .modal .mCSB_inside > .mCSB_container {
    margin-right: 3px; } }
.nice-select {
  height: 48px;
  line-height: 48px;
  text-transform: capitalize;
  font-size: 16px; }
  .nice-select:after {
    width: 5px;
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 16px;
    transform: none;
    border: none;
    margin-top: 0;
    right: 16px;
    top: 0px;
    transition: none; }
  .nice-select.open:after {
    right: 15px;
    top: 41px;
    transform: rotate(-179deg); }

.lg-actions .lg-next:before {
  content: "\f105";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit; }

.lg-actions .lg-prev:after {
  content: "\f104";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit; }

.slick-slide:focus {
  outline: none; }

.slick-dots li button:before {
  font-size: 11px; }

.MobileTab {
  display: none; }

@media (max-width: 768px) {
  .MobileTab {
    display: block; }

  .TabMenus {
    display: none; } }
.textUp span {
  opacity: 0;
  transform: translateY(15px);
  display: inline-block;
  transition: all .5s ease;
  visibility: hidden; }
.textUp span:nth-child(1) {
  transition-delay: 0.04s; }
.textUp span:nth-child(2) {
  transition-delay: 0.08s; }
.textUp span:nth-child(3) {
  transition-delay: 0.12s; }
.textUp span:nth-child(4) {
  transition-delay: 0.16s; }
.textUp span:nth-child(5) {
  transition-delay: 0.2s; }
.textUp span:nth-child(6) {
  transition-delay: 0.24s; }
.textUp span:nth-child(7) {
  transition-delay: 0.28s; }
.textUp span:nth-child(8) {
  transition-delay: 0.32s; }
.textUp span:nth-child(9) {
  transition-delay: 0.36s; }
.textUp span:nth-child(10) {
  transition-delay: 0.4s; }
.textUp span:nth-child(11) {
  transition-delay: 0.44s; }
.textUp span:nth-child(12) {
  transition-delay: 0.48s; }
.textUp span:nth-child(13) {
  transition-delay: 0.52s; }
.textUp span:nth-child(14) {
  transition-delay: 0.56s; }
.textUp span:nth-child(15) {
  transition-delay: 0.6s; }
.textUp span:nth-child(16) {
  transition-delay: 0.64s; }
.textUp span:nth-child(17) {
  transition-delay: 0.68s; }
.textUp span:nth-child(18) {
  transition-delay: 0.72s; }
.textUp span:nth-child(19) {
  transition-delay: 0.76s; }
.textUp span:nth-child(20) {
  transition-delay: 0.8s; }
.textUp span:nth-child(21) {
  transition-delay: 0.84s; }
.textUp span:nth-child(22) {
  transition-delay: 0.88s; }
.textUp span:nth-child(23) {
  transition-delay: 0.92s; }
.textUp span:nth-child(24) {
  transition-delay: 0.96s; }
.textUp span:nth-child(25) {
  transition-delay: 1s; }
.textUp span:nth-child(26) {
  transition-delay: 1.04s; }
.textUp span:nth-child(27) {
  transition-delay: 1.08s; }
.textUp span:nth-child(28) {
  transition-delay: 1.12s; }
.textUp span:nth-child(29) {
  transition-delay: 1.16s; }
.textUp span:nth-child(30) {
  transition-delay: 1.2s; }
.textUp.anim-active span {
  opacity: 1;
  transform: none;
  visibility: visible; }

.fadeUp {
  transform: translateY(25px);
  transition: all .5s ease;
  opacity: 0;
  visibility: hidden; }
  .fadeUp.anim-active {
    transform: none;
    opacity: 1;
    visibility: visible; }

.box-slide-left {
  position: relative;
  transform: translateX(25%);
  transition: all .8s ease; }
  .box-slide-left:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #FFF;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all .6s ease;
    transition-delay: .2s; }
  .box-slide-left:before {
    content: ''; }
  .box-slide-left.anim-active {
    transform: none; }
    .box-slide-left.anim-active:after {
      width: 0; }

.box-slide-right {
  position: relative;
  transform: translateX(-25%);
  transition: all .8s ease; }
  .box-slide-right:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #FFF;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all .6s ease;
    transition-delay: .2s; }
  .box-slide-right:before {
    content: ''; }
  .box-slide-right.anim-active {
    transform: none; }
    .box-slide-right.anim-active:after {
      width: 0; }

.fadeRight {
  visibility: hidden; }
  .fadeRight span {
    opacity: 0;
    display: inline-block;
    transition: opacity .9s ease; }
  .fadeRight span:nth-child(1) {
    transition-delay: 0.07s; }
  .fadeRight span:nth-child(2) {
    transition-delay: 0.14s; }
  .fadeRight span:nth-child(3) {
    transition-delay: 0.21s; }
  .fadeRight span:nth-child(4) {
    transition-delay: 0.28s; }
  .fadeRight span:nth-child(5) {
    transition-delay: 0.35s; }
  .fadeRight span:nth-child(6) {
    transition-delay: 0.42s; }
  .fadeRight span:nth-child(7) {
    transition-delay: 0.49s; }
  .fadeRight span:nth-child(8) {
    transition-delay: 0.56s; }
  .fadeRight span:nth-child(9) {
    transition-delay: 0.63s; }
  .fadeRight span:nth-child(10) {
    transition-delay: 0.7s; }
  .fadeRight span:nth-child(11) {
    transition-delay: 0.77s; }
  .fadeRight span:nth-child(12) {
    transition-delay: 0.84s; }
  .fadeRight span:nth-child(13) {
    transition-delay: 0.91s; }
  .fadeRight span:nth-child(14) {
    transition-delay: 0.98s; }
  .fadeRight span:nth-child(15) {
    transition-delay: 1.05s; }
  .fadeRight span:nth-child(16) {
    transition-delay: 1.12s; }
  .fadeRight span:nth-child(17) {
    transition-delay: 1.19s; }
  .fadeRight span:nth-child(18) {
    transition-delay: 1.26s; }
  .fadeRight span:nth-child(19) {
    transition-delay: 1.33s; }
  .fadeRight span:nth-child(20) {
    transition-delay: 1.4s; }
  .fadeRight span:nth-child(21) {
    transition-delay: 1.47s; }
  .fadeRight span:nth-child(22) {
    transition-delay: 1.54s; }
  .fadeRight span:nth-child(23) {
    transition-delay: 1.61s; }
  .fadeRight span:nth-child(24) {
    transition-delay: 1.68s; }
  .fadeRight span:nth-child(25) {
    transition-delay: 1.75s; }
  .fadeRight span:nth-child(26) {
    transition-delay: 1.82s; }
  .fadeRight span:nth-child(27) {
    transition-delay: 1.89s; }
  .fadeRight span:nth-child(28) {
    transition-delay: 1.96s; }
  .fadeRight span:nth-child(29) {
    transition-delay: 2.03s; }
  .fadeRight span:nth-child(30) {
    transition-delay: 2.1s; }
  .fadeRight span:nth-child(31) {
    transition-delay: 2.17s; }
  .fadeRight span:nth-child(32) {
    transition-delay: 2.24s; }
  .fadeRight span:nth-child(33) {
    transition-delay: 2.31s; }
  .fadeRight span:nth-child(34) {
    transition-delay: 2.38s; }
  .fadeRight span:nth-child(35) {
    transition-delay: 2.45s; }
  .fadeRight span:nth-child(36) {
    transition-delay: 2.52s; }
  .fadeRight span:nth-child(37) {
    transition-delay: 2.59s; }
  .fadeRight span:nth-child(38) {
    transition-delay: 2.66s; }
  .fadeRight span:nth-child(39) {
    transition-delay: 2.73s; }
  .fadeRight span:nth-child(40) {
    transition-delay: 2.8s; }
  .fadeRight span:nth-child(41) {
    transition-delay: 2.87s; }
  .fadeRight span:nth-child(42) {
    transition-delay: 2.94s; }
  .fadeRight span:nth-child(43) {
    transition-delay: 3.01s; }
  .fadeRight span:nth-child(44) {
    transition-delay: 3.08s; }
  .fadeRight span:nth-child(45) {
    transition-delay: 3.15s; }
  .fadeRight span:nth-child(46) {
    transition-delay: 3.22s; }
  .fadeRight span:nth-child(47) {
    transition-delay: 3.29s; }
  .fadeRight span:nth-child(48) {
    transition-delay: 3.36s; }
  .fadeRight span:nth-child(49) {
    transition-delay: 3.43s; }
  .fadeRight span:nth-child(50) {
    transition-delay: 3.5s; }
  .fadeRight.anim-active {
    visibility: visible; }
    .fadeRight.anim-active span {
      opacity: 1; }

.fadeRightWord {
  visibility: hidden; }
  .fadeRightWord span {
    opacity: 0;
    display: inline-block;
    transition: opacity .9s ease; }
  .fadeRightWord span:nth-child(1) {
    transition-delay: 0.07s; }
  .fadeRightWord span:nth-child(2) {
    transition-delay: 0.14s; }
  .fadeRightWord span:nth-child(3) {
    transition-delay: 0.21s; }
  .fadeRightWord span:nth-child(4) {
    transition-delay: 0.28s; }
  .fadeRightWord span:nth-child(5) {
    transition-delay: 0.35s; }
  .fadeRightWord span:nth-child(6) {
    transition-delay: 0.42s; }
  .fadeRightWord span:nth-child(7) {
    transition-delay: 0.49s; }
  .fadeRightWord span:nth-child(8) {
    transition-delay: 0.56s; }
  .fadeRightWord span:nth-child(9) {
    transition-delay: 0.63s; }
  .fadeRightWord span:nth-child(10) {
    transition-delay: 0.7s; }
  .fadeRightWord span:nth-child(11) {
    transition-delay: 0.77s; }
  .fadeRightWord span:nth-child(12) {
    transition-delay: 0.84s; }
  .fadeRightWord span:nth-child(13) {
    transition-delay: 0.91s; }
  .fadeRightWord span:nth-child(14) {
    transition-delay: 0.98s; }
  .fadeRightWord span:nth-child(15) {
    transition-delay: 1.05s; }
  .fadeRightWord span:nth-child(16) {
    transition-delay: 1.12s; }
  .fadeRightWord span:nth-child(17) {
    transition-delay: 1.19s; }
  .fadeRightWord span:nth-child(18) {
    transition-delay: 1.26s; }
  .fadeRightWord span:nth-child(19) {
    transition-delay: 1.33s; }
  .fadeRightWord span:nth-child(20) {
    transition-delay: 1.4s; }
  .fadeRightWord span:nth-child(21) {
    transition-delay: 1.47s; }
  .fadeRightWord span:nth-child(22) {
    transition-delay: 1.54s; }
  .fadeRightWord span:nth-child(23) {
    transition-delay: 1.61s; }
  .fadeRightWord span:nth-child(24) {
    transition-delay: 1.68s; }
  .fadeRightWord span:nth-child(25) {
    transition-delay: 1.75s; }
  .fadeRightWord span:nth-child(26) {
    transition-delay: 1.82s; }
  .fadeRightWord span:nth-child(27) {
    transition-delay: 1.89s; }
  .fadeRightWord span:nth-child(28) {
    transition-delay: 1.96s; }
  .fadeRightWord span:nth-child(29) {
    transition-delay: 2.03s; }
  .fadeRightWord span:nth-child(30) {
    transition-delay: 2.1s; }
  .fadeRightWord span:nth-child(31) {
    transition-delay: 2.17s; }
  .fadeRightWord span:nth-child(32) {
    transition-delay: 2.24s; }
  .fadeRightWord span:nth-child(33) {
    transition-delay: 2.31s; }
  .fadeRightWord span:nth-child(34) {
    transition-delay: 2.38s; }
  .fadeRightWord span:nth-child(35) {
    transition-delay: 2.45s; }
  .fadeRightWord span:nth-child(36) {
    transition-delay: 2.52s; }
  .fadeRightWord span:nth-child(37) {
    transition-delay: 2.59s; }
  .fadeRightWord span:nth-child(38) {
    transition-delay: 2.66s; }
  .fadeRightWord span:nth-child(39) {
    transition-delay: 2.73s; }
  .fadeRightWord span:nth-child(40) {
    transition-delay: 2.8s; }
  .fadeRightWord span:nth-child(41) {
    transition-delay: 2.87s; }
  .fadeRightWord span:nth-child(42) {
    transition-delay: 2.94s; }
  .fadeRightWord span:nth-child(43) {
    transition-delay: 3.01s; }
  .fadeRightWord span:nth-child(44) {
    transition-delay: 3.08s; }
  .fadeRightWord span:nth-child(45) {
    transition-delay: 3.15s; }
  .fadeRightWord span:nth-child(46) {
    transition-delay: 3.22s; }
  .fadeRightWord span:nth-child(47) {
    transition-delay: 3.29s; }
  .fadeRightWord span:nth-child(48) {
    transition-delay: 3.36s; }
  .fadeRightWord span:nth-child(49) {
    transition-delay: 3.43s; }
  .fadeRightWord span:nth-child(50) {
    transition-delay: 3.5s; }
  .fadeRightWord.anim-active {
    visibility: visible; }
    .fadeRightWord.anim-active span {
      opacity: 1; }

.opUp {
  transform: translateY(20%);
  position: relative;
  transition: opacity 1s ease, transform .7s ease;
  opacity: 0;
  visibility: hidden; }
  .opUp.anim-active {
    transform: none;
    opacity: 1;
    visibility: visible; }
    .opUp.anim-active:after {
      opacity: 0; }

.justFade {
  opacity: 0;
  transition: opacity .3s ease .2s; }
  .justFade.anim-active {
    opacity: 1; }

.anim-parent .fadeUp:nth-of-type(1) {
  transition-delay: 0.05s; }
.anim-parent .fadeUp:nth-of-type(2) {
  transition-delay: 0.1s; }
.anim-parent .fadeUp:nth-of-type(3) {
  transition-delay: 0.15s; }
.anim-parent .fadeUp:nth-of-type(4) {
  transition-delay: 0.2s; }
.anim-parent .fadeUp:nth-of-type(5) {
  transition-delay: 0.25s; }
.anim-parent .fadeUp:nth-of-type(6) {
  transition-delay: 0.3s; }
.anim-parent .fadeUp:nth-of-type(7) {
  transition-delay: 0.35s; }
.anim-parent .fadeUp:nth-of-type(8) {
  transition-delay: 0.4s; }
.anim-parent .fadeUp:nth-of-type(9) {
  transition-delay: 0.45s; }
.anim-parent .fadeUp:nth-of-type(10) {
  transition-delay: 0.5s; }
.anim-parent .fadeUp:nth-of-type(11) {
  transition-delay: 0.55s; }
.anim-parent .fadeUp:nth-of-type(12) {
  transition-delay: 0.6s; }
.anim-parent .fadeUp:nth-of-type(13) {
  transition-delay: 0.65s; }
.anim-parent .fadeUp:nth-of-type(14) {
  transition-delay: 0.7s; }
.anim-parent .fadeUp:nth-of-type(15) {
  transition-delay: 0.75s; }
.anim-parent .fadeUp:nth-of-type(16) {
  transition-delay: 0.8s; }
.anim-parent .fadeUp:nth-of-type(17) {
  transition-delay: 0.85s; }
.anim-parent .fadeUp:nth-of-type(18) {
  transition-delay: 0.9s; }
.anim-parent .fadeUp:nth-of-type(19) {
  transition-delay: 0.95s; }
.anim-parent .fadeUp:nth-of-type(20) {
  transition-delay: 1s; }
.anim-parent .fadeUp:nth-of-type(21) {
  transition-delay: 1.05s; }
.anim-parent .fadeUp:nth-of-type(22) {
  transition-delay: 1.1s; }
.anim-parent .fadeUp:nth-of-type(23) {
  transition-delay: 1.15s; }
.anim-parent .fadeUp:nth-of-type(24) {
  transition-delay: 1.2s; }
.anim-parent .fadeUp:nth-of-type(25) {
  transition-delay: 1.25s; }
.anim-parent .fadeUp:nth-of-type(26) {
  transition-delay: 1.3s; }
.anim-parent .fadeUp:nth-of-type(27) {
  transition-delay: 1.35s; }
.anim-parent .fadeUp:nth-of-type(28) {
  transition-delay: 1.4s; }
.anim-parent .fadeUp:nth-of-type(29) {
  transition-delay: 1.45s; }
.anim-parent .fadeUp:nth-of-type(30) {
  transition-delay: 1.5s; }

.img-preloader {
  position: relative; }
  .img-preloader:after {
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-image: url("../images/static/blur-background.jpg");
    transition: .5s ease; }
  .img-preloader.OfIt:after {
    opacity: 0; }

.site-error {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative; }
  .site-error:after {
    background: rgba(0, 0, 0, 0.7019607843); }
  .site-error_content {
    color: #FFF;
    z-index: 9;
    font-size: 30px; }
  .site-error .promo__item__about__title {
    display: block; }
  .site-error .promo__item__about__explore {
    font-size: 16px;
    color: #FFF;
    text-decoration: underline; }

@font-face {
  font-family: Helvetica;
  src: url(/assets/fonts/Helvetica-Regular.ttf); }
@media (min-width: 1450px) {
  .container {
    width: 1366px;
    margin: auto; } }
@media (max-width: 768px) {
  .mbp45 {
    padding: 45px 0 !important; } }
@media (max-width: 767px) {
  .pt75, .pt90, .pt95, .pt60, .pt120 {
    padding-top: 50px !important; }

  .pb75, .pb90, .pb95, .pb60, .pb120 {
    padding-bottom: 50px !important; }

  .Title {
    font-size: 23px;
    line-height: 25px; }

  .slick-dots li button:before {
    font-size: 11px; } }

/*# sourceMappingURL=inner.css.map */
